@charset "UTF-8";
/*Css para tela de impressão*/
*{
    padding: 10px;
    margin: 10px;
}
html{
    font-family: 'Courier New', Courier, monospace;
    font-size: 1.5em;
    line-height: 1.5em;
}

menu{
    display: none;
}
article{
    width: 100wv;
}


footer{
    display: none;
}
article::after{
    content: 'Esse artigo foi impresso pelo Curso em video';
}